images/cut.mp4
images/ground_1.jpeg
images/ground_2.jpeg
images/ground_3.jpeg
images/ground_4.jpeg
images/otsu.png
images/out_blurred.png
images/out_c.png
images/out_c2.png
images/out_insun.png
images/out.png
images/out1.png
images/out2.png
images/out3.png
images/out4.png
images/pad.jpeg
images/robonation_logo.png
images/sudoku.jpg
images/tins_1.mp4
images/tins_2.mp4
images/tins_3.mp4
images/tins_blurred.jpg
images/tins_sun.mp4
images/tins_white_sun.mp4
images/tins.jpg
images/concentric_out_of_frame_rot.mp4
images/concentric_out_of_frame.mp4
images/concentric_to_single_rot.mp4
images/concentric_to_single.mp4
images/circles_coordinate_test_rot.mp4
images/circles_coordinate_test.mp4
images/tin_white_rot.mp4
images/tin_white.mp4
uav_pl/src/__pycache__/coordinate_transform.cpython-38.pyc
uav_pl/src/__pycache__/debugging_code.cpython-38.pyc
uav_pl/src/__pycache__/hogh_circles.cpython-38.pyc
uav_pl/src/__pycache__/navigate_pixhawk.cpython-38.pyc
uav_pl/src/__pycache__/square_detect.cpython-38.pyc
uav_pl/src/__pycache__/tin_detection.cpython-38.pyc
uav_pl_rosbags/Bag/iris_camera.bag
uav_pl_rosbags/src/__pycache__/coordinate_transform.cpython-38.pyc
uav_pl_rosbags/src/__pycache__/debugging_code.cpython-38.pyc
uav_pl_rosbags/src/__pycache__/hogh_circles.cpython-38.pyc
uav_pl_rosbags/src/__pycache__/navigate_pixhawk.cpython-38.pyc
uav_pl_rosbags/src/__pycache__/square_detect.cpython-38.pyc
uav_pl_rosbags/src/__pycache__/tin_detection.cpython-38.pyc
uav_pl_rosbags/Videos/iris_camera.mp4
uav_pl_rosbags/Videos/iris_camera/frame0000.jpg
uav_pl_rosbags/Videos/iris_camera/frame0001.jpg
uav_pl_rosbags/Videos/iris_camera/frame0002.jpg
uav_pl_rosbags/Videos/iris_camera/frame0003.jpg
uav_pl_rosbags/Videos/iris_camera/frame0004.jpg
uav_pl_rosbags/Videos/iris_camera/frame0005.jpg
uav_pl_rosbags/Videos/iris_camera/frame0006.jpg
uav_pl_rosbags/Videos/iris_camera/frame0007.jpg
uav_pl_rosbags/Videos/iris_camera/frame0008.jpg
uav_pl_rosbags/Videos/iris_camera/frame0009.jpg
uav_pl_rosbags/Videos/iris_camera/frame0010.jpg
uav_pl_rosbags/Videos/iris_camera/frame0011.jpg
uav_pl_rosbags/Videos/iris_camera/frame0012.jpg
uav_pl_rosbags/Videos/iris_camera/frame0013.jpg
uav_pl_rosbags/Videos/iris_camera/frame0014.jpg
uav_pl_rosbags/Videos/iris_camera/frame0015.jpg
uav_pl_rosbags/Videos/iris_camera/frame0016.jpg
uav_pl_rosbags/Videos/iris_camera/frame0017.jpg
uav_pl_rosbags/Videos/iris_camera/frame0018.jpg
uav_pl_rosbags/Videos/iris_camera/frame0019.jpg
uav_pl_rosbags/Videos/iris_camera/frame0020.jpg
uav_pl_rosbags/Videos/iris_camera/frame0021.jpg
uav_pl_rosbags/Videos/iris_camera/frame0022.jpg
uav_pl_rosbags/Videos/iris_camera/frame0023.jpg
uav_pl_rosbags/Videos/iris_camera/frame0024.jpg
uav_pl_rosbags/Videos/iris_camera/frame0025.jpg
uav_pl_rosbags/Videos/iris_camera/frame0026.jpg
uav_pl_rosbags/Videos/iris_camera/frame0027.jpg
uav_pl_rosbags/Videos/iris_camera/frame0028.jpg
uav_pl_rosbags/Videos/iris_camera/frame0029.jpg
uav_pl_rosbags/Videos/iris_camera/frame0030.jpg
uav_pl_rosbags/Videos/iris_camera/frame0031.jpg
uav_pl_rosbags/Videos/iris_camera/frame0032.jpg
uav_pl_rosbags/Videos/iris_camera/frame0033.jpg
uav_pl_rosbags/Videos/iris_camera/frame0034.jpg
uav_pl_rosbags/Videos/iris_camera/frame0035.jpg
uav_pl_rosbags/Videos/iris_camera/frame0036.jpg
uav_pl_rosbags/Videos/iris_camera/frame0037.jpg
uav_pl_rosbags/Videos/iris_camera/frame0038.jpg
uav_pl_rosbags/Videos/iris_camera/frame0039.jpg
uav_pl_rosbags/Videos/iris_camera/frame0040.jpg
uav_pl_rosbags/Videos/iris_camera/frame0041.jpg
uav_pl_rosbags/Videos/iris_camera/frame0042.jpg
uav_pl_rosbags/Videos/iris_camera/frame0043.jpg
uav_pl_rosbags/Videos/iris_camera/frame0044.jpg
uav_pl_rosbags/Videos/iris_camera/frame0045.jpg
uav_pl_rosbags/Videos/iris_camera/frame0046.jpg
uav_pl_rosbags/Videos/iris_camera/frame0047.jpg
uav_pl_rosbags/Videos/iris_camera/frame0048.jpg
uav_pl_rosbags/Videos/iris_camera/frame0049.jpg
uav_pl_rosbags/Videos/iris_camera/frame0050.jpg
uav_pl_rosbags/Videos/iris_camera/frame0051.jpg
uav_pl_rosbags/Videos/iris_camera/frame0052.jpg
uav_pl_rosbags/Videos/iris_camera/frame0053.jpg
uav_pl_rosbags/Videos/iris_camera/frame0054.jpg
uav_pl_rosbags/Videos/iris_camera/frame0055.jpg
uav_pl_rosbags/Videos/iris_camera/frame0056.jpg
uav_pl_rosbags/Videos/iris_camera/frame0057.jpg
uav_pl_rosbags/Videos/iris_camera/frame0058.jpg
uav_pl_rosbags/Videos/iris_camera/frame0059.jpg
uav_pl_rosbags/Videos/iris_camera/frame0060.jpg
uav_pl_rosbags/Videos/iris_camera/frame0061.jpg
uav_pl_rosbags/Videos/iris_camera/frame0062.jpg
uav_pl_rosbags/Videos/iris_camera/frame0063.jpg
uav_pl_rosbags/Videos/iris_camera/frame0064.jpg
uav_pl_rosbags/Videos/iris_camera/frame0065.jpg
uav_pl_rosbags/Videos/iris_camera/frame0066.jpg
uav_pl_rosbags/Videos/iris_camera/frame0067.jpg
uav_pl_rosbags/Videos/iris_camera/frame0068.jpg
uav_pl_rosbags/Videos/iris_camera/frame0069.jpg
uav_pl_rosbags/Videos/iris_camera/frame0070.jpg
uav_pl_rosbags/Videos/iris_camera/frame0071.jpg
uav_pl_rosbags/Videos/iris_camera/frame0072.jpg
uav_pl_rosbags/Videos/iris_camera/frame0073.jpg
uav_pl_rosbags/Videos/iris_camera/frame0074.jpg
uav_pl_rosbags/Videos/iris_camera/frame0075.jpg
uav_pl_rosbags/Videos/iris_camera/frame0076.jpg
uav_pl_rosbags/Videos/iris_camera/frame0077.jpg
uav_pl_rosbags/Videos/iris_camera/frame0078.jpg
uav_pl_rosbags/Videos/iris_camera/frame0079.jpg
uav_pl_rosbags/Videos/iris_camera/frame0080.jpg
uav_pl_rosbags/Videos/iris_camera/frame0081.jpg
uav_pl_rosbags/Videos/iris_camera/frame0082.jpg
uav_pl_rosbags/Videos/iris_camera/frame0083.jpg
uav_pl_rosbags/Videos/iris_camera/frame0084.jpg
uav_pl_rosbags/Videos/iris_camera/frame0085.jpg
uav_pl_rosbags/Videos/iris_camera/frame0086.jpg
uav_pl_rosbags/Videos/iris_camera/frame0087.jpg
uav_pl_rosbags/Videos/iris_camera/frame0088.jpg
uav_pl_rosbags/Videos/iris_camera/frame0089.jpg
uav_pl_rosbags/Videos/iris_camera/frame0090.jpg
uav_pl_rosbags/Videos/iris_camera/frame0091.jpg
uav_pl_rosbags/Videos/iris_camera/frame0092.jpg
uav_pl_rosbags/Videos/iris_camera/frame0093.jpg
uav_pl_rosbags/Videos/iris_camera/frame0094.jpg
uav_pl_rosbags/Videos/iris_camera/frame0095.jpg
uav_pl_rosbags/Videos/iris_camera/frame0096.jpg
uav_pl_rosbags/Videos/iris_camera/frame0097.jpg
uav_pl_rosbags/Videos/iris_camera/frame0098.jpg
uav_pl_rosbags/Videos/iris_camera/frame0099.jpg
uav_pl_rosbags/Videos/iris_camera/frame0100.jpg
uav_pl_rosbags/Videos/iris_camera/frame0101.jpg
uav_pl_rosbags/Videos/iris_camera/frame0102.jpg
uav_pl_rosbags/Videos/iris_camera/frame0103.jpg
uav_pl_rosbags/Videos/iris_camera/frame0104.jpg
uav_pl_rosbags/Videos/iris_camera/frame0105.jpg
uav_pl_rosbags/Videos/iris_camera/frame0106.jpg
uav_pl_rosbags/Videos/iris_camera/frame0107.jpg
uav_pl_rosbags/Videos/iris_camera/frame0108.jpg
uav_pl_rosbags/Videos/iris_camera/frame0109.jpg
uav_pl_rosbags/Videos/iris_camera/frame0110.jpg
uav_pl_rosbags/Videos/iris_camera/frame0111.jpg
uav_pl_rosbags/Videos/iris_camera/frame0112.jpg
uav_pl_rosbags/Videos/iris_camera/frame0113.jpg
uav_pl_rosbags/Videos/iris_camera/frame0114.jpg
uav_pl_rosbags/Videos/iris_camera/frame0115.jpg
uav_pl_rosbags/Videos/iris_camera/frame0116.jpg
uav_pl_rosbags/Videos/iris_camera/frame0117.jpg
uav_pl_rosbags/Videos/iris_camera/frame0118.jpg
uav_pl_rosbags/Videos/iris_camera/frame0119.jpg
uav_pl_rosbags/Videos/iris_camera/frame0120.jpg
uav_pl_rosbags/Videos/iris_camera/frame0121.jpg
uav_pl_rosbags/Videos/iris_camera/frame0122.jpg
uav_pl_rosbags/Videos/iris_camera/frame0123.jpg
uav_pl_rosbags/Videos/iris_camera/frame0124.jpg
uav_pl_rosbags/Videos/iris_camera/frame0125.jpg
uav_pl_rosbags/Videos/iris_camera/frame0126.jpg
uav_pl_rosbags/Videos/iris_camera/frame0127.jpg
uav_pl_rosbags/Videos/iris_camera/frame0128.jpg
uav_pl_rosbags/Videos/iris_camera/frame0129.jpg
uav_pl_rosbags/Videos/iris_camera/frame0130.jpg
uav_pl_rosbags/Videos/iris_camera/frame0131.jpg
uav_pl_rosbags/Videos/iris_camera/frame0132.jpg
uav_pl_rosbags/Videos/iris_camera/frame0133.jpg
uav_pl_rosbags/Videos/iris_camera/frame0134.jpg
uav_pl_rosbags/Videos/iris_camera/frame0135.jpg
uav_pl_rosbags/Videos/iris_camera/frame0136.jpg
uav_pl_rosbags/Videos/iris_camera/frame0137.jpg
uav_pl_rosbags/Videos/iris_camera/frame0138.jpg
uav_pl_rosbags/Videos/iris_camera/frame0139.jpg
uav_pl_rosbags/Videos/iris_camera/frame0140.jpg
uav_pl_rosbags/Videos/iris_camera/frame0141.jpg
uav_pl_rosbags/Videos/iris_camera/frame0142.jpg
uav_pl_rosbags/Videos/iris_camera/frame0143.jpg
uav_pl_rosbags/Videos/iris_camera/frame0144.jpg
uav_pl_rosbags/Videos/iris_camera/frame0145.jpg
uav_pl_rosbags/Videos/iris_camera/frame0146.jpg
uav_pl_rosbags/Videos/iris_camera/frame0147.jpg
uav_pl_rosbags/Videos/iris_camera/frame0148.jpg
uav_pl_rosbags/Videos/iris_camera/frame0149.jpg
uav_pl_rosbags/Videos/iris_camera/frame0150.jpg
uav_pl_rosbags/Videos/iris_camera/frame0151.jpg
uav_pl_rosbags/Videos/iris_camera/frame0152.jpg
uav_pl_rosbags/Videos/iris_camera/frame0153.jpg
uav_pl_rosbags/Videos/iris_camera/frame0154.jpg
uav_pl_rosbags/Videos/iris_camera/frame0155.jpg
uav_pl_rosbags/Videos/iris_camera/frame0156.jpg
uav_pl_rosbags/Videos/iris_camera/frame0157.jpg
uav_pl_rosbags/Videos/iris_camera/frame0158.jpg
uav_pl_rosbags/Videos/iris_camera/frame0159.jpg
uav_pl_rosbags/Videos/iris_camera/frame0160.jpg
uav_pl_rosbags/Videos/iris_camera/frame0161.jpg
uav_pl_rosbags/Videos/iris_camera/frame0162.jpg
uav_pl_rosbags/Videos/iris_camera/frame0163.jpg
uav_pl_rosbags/Videos/iris_camera/frame0164.jpg
uav_pl_rosbags/Videos/iris_camera/frame0165.jpg
uav_pl_rosbags/Videos/iris_camera/frame0166.jpg
uav_pl_rosbags/Videos/iris_camera/frame0167.jpg
uav_pl_rosbags/Videos/iris_camera/frame0168.jpg
uav_pl_rosbags/Videos/iris_camera/frame0169.jpg
uav_pl_rosbags/Videos/iris_camera/frame0170.jpg
uav_pl_rosbags/Videos/iris_camera/frame0171.jpg
uav_pl_rosbags/Videos/iris_camera/frame0172.jpg
uav_pl_rosbags/Videos/iris_camera/frame0173.jpg
uav_pl_rosbags/Videos/iris_camera/frame0174.jpg
uav_pl_rosbags/Videos/iris_camera/frame0175.jpg
uav_pl_rosbags/Videos/iris_camera/frame0176.jpg
uav_pl_rosbags/Videos/iris_camera/frame0177.jpg
uav_pl_rosbags/Videos/iris_camera/frame0178.jpg
uav_pl_rosbags/Videos/iris_camera/frame0179.jpg
uav_pl_rosbags/Videos/iris_camera/frame0180.jpg
uav_pl_rosbags/Videos/iris_camera/frame0181.jpg
uav_pl_rpi/src/__pycache__/coordinate_transform.cpython-38.pyc
uav_pl_rpi/src/__pycache__/debugging_code.cpython-38.pyc
uav_pl_rpi/src/__pycache__/hogh_circles.cpython-38.pyc
uav_pl_rpi/src/__pycache__/navigate_pixhawk.cpython-38.pyc
uav_pl_rpi/src/__pycache__/square_detect.cpython-38.pyc
uav_pl_rpi/src/__pycache__/tin_detection.cpython-38.pyc
uav_pl/src/__pycache__/coordinate_transform.cpython-38.pyc
uav_pl/src/__pycache__/debugging_code.cpython-38.pyc
uav_pl/src/__pycache__/hogh_circles.cpython-38.pyc
uav_pl/src/__pycache__/navigate_pixhawk.cpython-38.pyc
uav_pl/src/__pycache__/square_detect.cpython-38.pyc
uav_pl/src/__pycache__/tin_detection.cpython-38.pyc
uav_pl_rpi_tins/Videos/iris_camera.mp4
uav_pl_rpi_tins/Videos/iris_camera/frame0000.jpg
uav_pl_rpi_tins/Videos/iris_camera/frame0001.jpg
uav_pl_rpi_tins/Videos/iris_camera/frame0002.jpg
uav_pl_rpi_tins/Videos/iris_camera/frame0003.jpg
uav_pl_rpi_tins/Videos/iris_camera/frame0004.jpg
uav_pl_rpi_tins/Videos/iris_camera/frame0005.jpg
uav_pl_rpi_tins/Videos/iris_camera/frame0006.jpg
uav_pl_rpi_tins/Videos/iris_camera/frame0007.jpg
uav_pl_rpi_tins/Videos/iris_camera/frame0008.jpg
uav_pl_rpi_tins/Videos/iris_camera/frame0009.jpg
uav_pl_rpi_tins/Videos/iris_camera/frame0010.jpg
uav_pl_rpi_tins/Videos/iris_camera/frame0011.jpg
uav_pl_rpi_tins/Videos/iris_camera/frame0012.jpg
uav_pl_rpi_tins/Videos/iris_camera/frame0013.jpg
uav_pl_rpi_tins/Videos/iris_camera/frame0014.jpg
uav_pl_rpi_tins/Videos/iris_camera/frame0015.jpg
uav_pl_rpi_tins/Videos/iris_camera/frame0016.jpg
uav_pl_rpi_tins/Videos/iris_camera/frame0017.jpg
uav_pl_rpi_tins/Videos/iris_camera/frame0018.jpg
uav_pl_rpi_tins/Videos/iris_camera/frame0019.jpg
uav_pl_rpi_tins/Videos/iris_camera/frame0020.jpg
uav_pl_rpi_tins/Videos/iris_camera/frame0021.jpg
uav_pl_rpi_tins/Videos/iris_camera/frame0022.jpg
uav_pl_rpi_tins/Videos/iris_camera/frame0023.jpg
uav_pl_rpi_tins/Videos/iris_camera/frame0024.jpg
uav_pl_rpi_tins/Videos/iris_camera/frame0025.jpg
uav_pl_rpi_tins/Videos/iris_camera/frame0026.jpg
uav_pl_rpi_tins/Videos/iris_camera/frame0027.jpg
uav_pl_rpi_tins/Videos/iris_camera/frame0028.jpg
uav_pl_rpi_tins/Videos/iris_camera/frame0029.jpg
uav_pl_rpi_tins/Videos/iris_camera/frame0030.jpg
uav_pl_rpi_tins/Videos/iris_camera/frame0031.jpg
uav_pl_rpi_tins/Videos/iris_camera/frame0032.jpg
uav_pl_rpi_tins/Videos/iris_camera/frame0033.jpg
uav_pl_rpi_tins/Videos/iris_camera/frame0034.jpg
uav_pl_rpi_tins/Videos/iris_camera/frame0035.jpg
uav_pl_rpi_tins/Videos/iris_camera/frame0036.jpg
uav_pl_rpi_tins/Videos/iris_camera/frame0037.jpg
uav_pl_rpi_tins/Videos/iris_camera/frame0038.jpg
uav_pl_rpi_tins/Videos/iris_camera/frame0039.jpg
uav_pl_rpi_tins/Videos/iris_camera/frame0040.jpg
uav_pl_rpi_tins/Videos/iris_camera/frame0041.jpg
uav_pl_rpi_tins/Videos/iris_camera/frame0042.jpg
uav_pl_rpi_tins/Videos/iris_camera/frame0043.jpg
uav_pl_rpi_tins/Videos/iris_camera/frame0044.jpg
uav_pl_rpi_tins/Videos/iris_camera/frame0045.jpg
uav_pl_rpi_tins/Videos/iris_camera/frame0046.jpg
uav_pl_rpi_tins/Videos/iris_camera/frame0047.jpg
uav_pl_rpi_tins/Videos/iris_camera/frame0048.jpg
uav_pl_rpi_tins/Videos/iris_camera/frame0049.jpg
uav_pl_rpi_tins/Videos/iris_camera/frame0050.jpg
uav_pl_rpi_tins/Videos/iris_camera/frame0051.jpg
uav_pl_rpi_tins/Videos/iris_camera/frame0052.jpg
uav_pl_rpi_tins/Videos/iris_camera/frame0053.jpg
uav_pl_rpi_tins/Videos/iris_camera/frame0054.jpg
uav_pl_rpi_tins/Videos/iris_camera/frame0055.jpg
uav_pl_rpi_tins/Videos/iris_camera/frame0056.jpg
uav_pl_rpi_tins/Videos/iris_camera/frame0057.jpg
uav_pl_rpi_tins/Videos/iris_camera/frame0058.jpg
uav_pl_rpi_tins/Videos/iris_camera/frame0059.jpg
uav_pl_rpi_tins/Videos/iris_camera/frame0060.jpg
uav_pl_rpi_tins/Videos/iris_camera/frame0061.jpg
uav_pl_rpi_tins/Videos/iris_camera/frame0062.jpg
uav_pl_rpi_tins/Videos/iris_camera/frame0063.jpg
uav_pl_rpi_tins/Videos/iris_camera/frame0064.jpg
uav_pl_rpi_tins/Videos/iris_camera/frame0065.jpg
uav_pl_rpi_tins/Videos/iris_camera/frame0066.jpg
uav_pl_rpi_tins/Videos/iris_camera/frame0067.jpg
uav_pl_rpi_tins/Videos/iris_camera/frame0068.jpg
uav_pl_rpi_tins/Videos/iris_camera/frame0069.jpg
uav_pl_rpi_tins/Videos/iris_camera/frame0070.jpg
uav_pl_rpi_tins/Videos/iris_camera/frame0071.jpg
uav_pl_rpi_tins/Videos/iris_camera/frame0072.jpg
uav_pl_rpi_tins/Videos/iris_camera/frame0073.jpg
uav_pl_rpi_tins/Videos/iris_camera/frame0074.jpg
uav_pl_rpi_tins/Videos/iris_camera/frame0075.jpg
uav_pl_rpi_tins/Videos/iris_camera/frame0076.jpg
uav_pl_rpi_tins/Videos/iris_camera/frame0077.jpg
uav_pl_rpi_tins/Videos/iris_camera/frame0078.jpg
uav_pl_rpi_tins/Videos/iris_camera/frame0079.jpg
uav_pl_rpi_tins/Videos/iris_camera/frame0080.jpg
uav_pl_rpi_tins/Videos/iris_camera/frame0081.jpg
uav_pl_rpi_tins/Videos/iris_camera/frame0082.jpg
uav_pl_rpi_tins/Videos/iris_camera/frame0083.jpg
uav_pl_rpi_tins/Videos/iris_camera/frame0084.jpg
uav_pl_rpi_tins/Videos/iris_camera/frame0085.jpg
uav_pl_rpi_tins/Videos/iris_camera/frame0086.jpg
uav_pl_rpi_tins/Videos/iris_camera/frame0087.jpg
uav_pl_rpi_tins/Videos/iris_camera/frame0088.jpg
uav_pl_rpi_tins/Videos/iris_camera/frame0089.jpg
uav_pl_rpi_tins/Videos/iris_camera/frame0090.jpg
uav_pl_rpi_tins/Videos/iris_camera/frame0091.jpg
uav_pl_rpi_tins/Videos/iris_camera/frame0092.jpg
uav_pl_rpi_tins/Videos/iris_camera/frame0093.jpg
uav_pl_rpi_tins/Videos/iris_camera/frame0094.jpg
uav_pl_rpi_tins/Videos/iris_camera/frame0095.jpg
uav_pl_rpi_tins/Videos/iris_camera/frame0096.jpg
uav_pl_rpi_tins/Videos/iris_camera/frame0097.jpg
uav_pl_rpi_tins/Videos/iris_camera/frame0098.jpg
uav_pl_rpi_tins/Videos/iris_camera/frame0099.jpg
uav_pl_rpi_tins/Videos/iris_camera/frame0100.jpg
uav_pl_rpi_tins/Videos/iris_camera/frame0101.jpg
uav_pl_rpi_tins/Videos/iris_camera/frame0102.jpg
uav_pl_rpi_tins/Videos/iris_camera/frame0103.jpg
uav_pl_rpi_tins/Videos/iris_camera/frame0104.jpg
uav_pl_rpi_tins/Videos/iris_camera/frame0105.jpg
uav_pl_rpi_tins/Videos/iris_camera/frame0106.jpg
uav_pl_rpi_tins/Videos/iris_camera/frame0107.jpg
uav_pl_rpi_tins/Videos/iris_camera/frame0108.jpg
uav_pl_rpi_tins/Videos/iris_camera/frame0109.jpg
uav_pl_rpi_tins/Videos/iris_camera/frame0110.jpg
uav_pl_rpi_tins/Videos/iris_camera/frame0111.jpg
uav_pl_rpi_tins/Videos/iris_camera/frame0112.jpg
uav_pl_rpi_tins/Videos/iris_camera/frame0113.jpg
uav_pl_rpi_tins/Videos/iris_camera/frame0114.jpg
uav_pl_rpi_tins/Videos/iris_camera/frame0115.jpg
uav_pl_rpi_tins/Videos/iris_camera/frame0116.jpg
uav_pl_rpi_tins/Videos/iris_camera/frame0117.jpg
uav_pl_rpi_tins/Videos/iris_camera/frame0118.jpg
uav_pl_rpi_tins/Videos/iris_camera/frame0119.jpg
uav_pl_rpi_tins/Videos/iris_camera/frame0120.jpg
uav_pl_rpi_tins/Videos/iris_camera/frame0121.jpg
uav_pl_rpi_tins/Videos/iris_camera/frame0122.jpg
uav_pl_rpi_tins/Videos/iris_camera/frame0123.jpg
uav_pl_rpi_tins/Videos/iris_camera/frame0124.jpg
uav_pl_rpi_tins/Videos/iris_camera/frame0125.jpg
uav_pl_rpi_tins/Videos/iris_camera/frame0126.jpg
uav_pl_rpi_tins/Videos/iris_camera/frame0127.jpg
uav_pl_rpi_tins/Videos/iris_camera/frame0128.jpg
uav_pl_rpi_tins/Videos/iris_camera/frame0129.jpg
uav_pl_rpi_tins/Videos/iris_camera/frame0130.jpg
uav_pl_rpi_tins/Videos/iris_camera/frame0131.jpg
uav_pl_rpi_tins/Videos/iris_camera/frame0132.jpg
uav_pl_rpi_tins/Videos/iris_camera/frame0133.jpg
uav_pl_rpi_tins/Videos/iris_camera/frame0134.jpg
uav_pl_rpi_tins/Videos/iris_camera/frame0135.jpg
uav_pl_rpi_tins/Videos/iris_camera/frame0136.jpg
uav_pl_rpi_tins/Videos/iris_camera/frame0137.jpg
uav_pl_rpi_tins/Videos/iris_camera/frame0138.jpg
uav_pl_rpi_tins/Videos/iris_camera/frame0139.jpg
uav_pl_rpi_tins/Videos/iris_camera/frame0140.jpg
uav_pl_rpi_tins/Videos/iris_camera/frame0141.jpg
uav_pl_rpi_tins/Videos/iris_camera/frame0142.jpg
uav_pl_rpi_tins/Videos/iris_camera/frame0143.jpg
uav_pl_rpi_tins/Videos/iris_camera/frame0144.jpg
uav_pl_rpi_tins/Videos/iris_camera/frame0145.jpg
uav_pl_rpi_tins/Videos/iris_camera/frame0146.jpg
uav_pl_rpi_tins/Videos/iris_camera/frame0147.jpg
uav_pl_rpi_tins/Videos/iris_camera/frame0148.jpg
uav_pl_rpi_tins/Videos/iris_camera/frame0149.jpg
uav_pl_rpi_tins/Videos/iris_camera/frame0150.jpg
uav_pl_rpi_tins/Videos/iris_camera/frame0151.jpg
uav_pl_rpi_tins/Videos/iris_camera/frame0152.jpg
uav_pl_rpi_tins/Videos/iris_camera/frame0153.jpg
uav_pl_rpi_tins/Videos/iris_camera/frame0154.jpg
uav_pl_rpi_tins/Videos/iris_camera/frame0155.jpg
uav_pl_rpi_tins/Videos/iris_camera/frame0156.jpg
uav_pl_rpi_tins/Videos/iris_camera/frame0157.jpg
uav_pl_rpi_tins/Videos/iris_camera/frame0158.jpg
uav_pl_rpi_tins/Videos/iris_camera/frame0159.jpg
uav_pl_rpi_tins/Videos/iris_camera/frame0160.jpg
uav_pl_rpi_tins/Videos/iris_camera/frame0161.jpg
uav_pl_rpi_tins/Videos/iris_camera/frame0162.jpg
uav_pl_rpi_tins/Videos/iris_camera/frame0163.jpg
uav_pl_rpi_tins/Videos/iris_camera/frame0164.jpg
uav_pl_rpi_tins/Videos/iris_camera/frame0165.jpg
uav_pl_rpi_tins/Videos/iris_camera/frame0166.jpg
uav_pl_rpi_tins/Videos/iris_camera/frame0167.jpg
uav_pl_rpi_tins/Videos/iris_camera/frame0168.jpg
uav_pl_rpi_tins/Videos/iris_camera/frame0169.jpg
uav_pl_rpi_tins/Videos/iris_camera/frame0170.jpg
uav_pl_rpi_tins/Videos/iris_camera/frame0171.jpg
uav_pl_rpi_tins/Videos/iris_camera/frame0172.jpg
uav_pl_rpi_tins/Videos/iris_camera/frame0173.jpg
uav_pl_rpi_tins/Videos/iris_camera/frame0174.jpg
uav_pl_rpi_tins/Videos/iris_camera/frame0175.jpg
uav_pl_rpi_tins/Videos/iris_camera/frame0176.jpg
uav_pl_rpi_tins/Videos/iris_camera/frame0177.jpg
uav_pl_rpi_tins/Videos/iris_camera/frame0178.jpg
uav_pl_rpi_tins/Videos/iris_camera/frame0179.jpg
uav_pl_rpi_tins/Videos/iris_camera/frame0180.jpg
uav_pl_rpi_tins/Videos/iris_camera/frame0181.jpg
uav_pl_tins/Videos/iris_camera.mp4
uav_pl_tins/Videos/iris_camera/frame0000.jpg
uav_pl_tins/Videos/iris_camera/frame0001.jpg
uav_pl_tins/Videos/iris_camera/frame0002.jpg
uav_pl_tins/Videos/iris_camera/frame0003.jpg
uav_pl_tins/Videos/iris_camera/frame0004.jpg
uav_pl_tins/Videos/iris_camera/frame0005.jpg
uav_pl_tins/Videos/iris_camera/frame0006.jpg
uav_pl_tins/Videos/iris_camera/frame0007.jpg
uav_pl_tins/Videos/iris_camera/frame0008.jpg
uav_pl_tins/Videos/iris_camera/frame0009.jpg
uav_pl_tins/Videos/iris_camera/frame0010.jpg
uav_pl_tins/Videos/iris_camera/frame0011.jpg
uav_pl_tins/Videos/iris_camera/frame0012.jpg
uav_pl_tins/Videos/iris_camera/frame0013.jpg
uav_pl_tins/Videos/iris_camera/frame0014.jpg
uav_pl_tins/Videos/iris_camera/frame0015.jpg
uav_pl_tins/Videos/iris_camera/frame0016.jpg
uav_pl_tins/Videos/iris_camera/frame0017.jpg
uav_pl_tins/Videos/iris_camera/frame0018.jpg
uav_pl_tins/Videos/iris_camera/frame0019.jpg
uav_pl_tins/Videos/iris_camera/frame0020.jpg
uav_pl_tins/Videos/iris_camera/frame0021.jpg
uav_pl_tins/Videos/iris_camera/frame0022.jpg
uav_pl_tins/Videos/iris_camera/frame0023.jpg
uav_pl_tins/Videos/iris_camera/frame0024.jpg
uav_pl_tins/Videos/iris_camera/frame0025.jpg
uav_pl_tins/Videos/iris_camera/frame0026.jpg
uav_pl_tins/Videos/iris_camera/frame0027.jpg
uav_pl_tins/Videos/iris_camera/frame0028.jpg
uav_pl_tins/Videos/iris_camera/frame0029.jpg
uav_pl_tins/Videos/iris_camera/frame0030.jpg
uav_pl_tins/Videos/iris_camera/frame0031.jpg
uav_pl_tins/Videos/iris_camera/frame0032.jpg
uav_pl_tins/Videos/iris_camera/frame0033.jpg
uav_pl_tins/Videos/iris_camera/frame0034.jpg
uav_pl_tins/Videos/iris_camera/frame0035.jpg
uav_pl_tins/Videos/iris_camera/frame0036.jpg
uav_pl_tins/Videos/iris_camera/frame0037.jpg
uav_pl_tins/Videos/iris_camera/frame0038.jpg
uav_pl_tins/Videos/iris_camera/frame0039.jpg
uav_pl_tins/Videos/iris_camera/frame0040.jpg
uav_pl_tins/Videos/iris_camera/frame0041.jpg
uav_pl_tins/Videos/iris_camera/frame0042.jpg
uav_pl_tins/Videos/iris_camera/frame0043.jpg
uav_pl_tins/Videos/iris_camera/frame0044.jpg
uav_pl_tins/Videos/iris_camera/frame0045.jpg
uav_pl_tins/Videos/iris_camera/frame0046.jpg
uav_pl_tins/Videos/iris_camera/frame0047.jpg
uav_pl_tins/Videos/iris_camera/frame0048.jpg
uav_pl_tins/Videos/iris_camera/frame0049.jpg
uav_pl_tins/Videos/iris_camera/frame0050.jpg
uav_pl_tins/Videos/iris_camera/frame0051.jpg
uav_pl_tins/Videos/iris_camera/frame0052.jpg
uav_pl_tins/Videos/iris_camera/frame0053.jpg
uav_pl_tins/Videos/iris_camera/frame0054.jpg
uav_pl_tins/Videos/iris_camera/frame0055.jpg
uav_pl_tins/Videos/iris_camera/frame0056.jpg
uav_pl_tins/Videos/iris_camera/frame0057.jpg
uav_pl_tins/Videos/iris_camera/frame0058.jpg
uav_pl_tins/Videos/iris_camera/frame0059.jpg
uav_pl_tins/Videos/iris_camera/frame0060.jpg
uav_pl_tins/Videos/iris_camera/frame0061.jpg
uav_pl_tins/Videos/iris_camera/frame0062.jpg
uav_pl_tins/Videos/iris_camera/frame0063.jpg
uav_pl_tins/Videos/iris_camera/frame0064.jpg
uav_pl_tins/Videos/iris_camera/frame0065.jpg
uav_pl_tins/Videos/iris_camera/frame0066.jpg
uav_pl_tins/Videos/iris_camera/frame0067.jpg
uav_pl_tins/Videos/iris_camera/frame0068.jpg
uav_pl_tins/Videos/iris_camera/frame0069.jpg
uav_pl_tins/Videos/iris_camera/frame0070.jpg
uav_pl_tins/Videos/iris_camera/frame0071.jpg
uav_pl_tins/Videos/iris_camera/frame0072.jpg
uav_pl_tins/Videos/iris_camera/frame0073.jpg
uav_pl_tins/Videos/iris_camera/frame0074.jpg
uav_pl_tins/Videos/iris_camera/frame0075.jpg
uav_pl_tins/Videos/iris_camera/frame0076.jpg
uav_pl_tins/Videos/iris_camera/frame0077.jpg
uav_pl_tins/Videos/iris_camera/frame0078.jpg
uav_pl_tins/Videos/iris_camera/frame0079.jpg
uav_pl_tins/Videos/iris_camera/frame0080.jpg
uav_pl_tins/Videos/iris_camera/frame0081.jpg
uav_pl_tins/Videos/iris_camera/frame0082.jpg
uav_pl_tins/Videos/iris_camera/frame0083.jpg
uav_pl_tins/Videos/iris_camera/frame0084.jpg
uav_pl_tins/Videos/iris_camera/frame0085.jpg
uav_pl_tins/Videos/iris_camera/frame0086.jpg
uav_pl_tins/Videos/iris_camera/frame0087.jpg
uav_pl_tins/Videos/iris_camera/frame0088.jpg
uav_pl_tins/Videos/iris_camera/frame0089.jpg
uav_pl_tins/Videos/iris_camera/frame0090.jpg
uav_pl_tins/Videos/iris_camera/frame0091.jpg
uav_pl_tins/Videos/iris_camera/frame0092.jpg
uav_pl_tins/Videos/iris_camera/frame0093.jpg
uav_pl_tins/Videos/iris_camera/frame0094.jpg
uav_pl_tins/Videos/iris_camera/frame0095.jpg
uav_pl_tins/Videos/iris_camera/frame0096.jpg
uav_pl_tins/Videos/iris_camera/frame0097.jpg
uav_pl_tins/Videos/iris_camera/frame0098.jpg
uav_pl_tins/Videos/iris_camera/frame0099.jpg
uav_pl_tins/Videos/iris_camera/frame0100.jpg
uav_pl_tins/Videos/iris_camera/frame0101.jpg
uav_pl_tins/Videos/iris_camera/frame0102.jpg
uav_pl_tins/Videos/iris_camera/frame0103.jpg
uav_pl_tins/Videos/iris_camera/frame0104.jpg
uav_pl_tins/Videos/iris_camera/frame0105.jpg
uav_pl_tins/Videos/iris_camera/frame0106.jpg
uav_pl_tins/Videos/iris_camera/frame0107.jpg
uav_pl_tins/Videos/iris_camera/frame0108.jpg
uav_pl_tins/Videos/iris_camera/frame0109.jpg
uav_pl_tins/Videos/iris_camera/frame0110.jpg
uav_pl_tins/Videos/iris_camera/frame0111.jpg
uav_pl_tins/Videos/iris_camera/frame0112.jpg
uav_pl_tins/Videos/iris_camera/frame0113.jpg
uav_pl_tins/Videos/iris_camera/frame0114.jpg
uav_pl_tins/Videos/iris_camera/frame0115.jpg
uav_pl_tins/Videos/iris_camera/frame0116.jpg
uav_pl_tins/Videos/iris_camera/frame0117.jpg
uav_pl_tins/Videos/iris_camera/frame0118.jpg
uav_pl_tins/Videos/iris_camera/frame0119.jpg
uav_pl_tins/Videos/iris_camera/frame0120.jpg
uav_pl_tins/Videos/iris_camera/frame0121.jpg
uav_pl_tins/Videos/iris_camera/frame0122.jpg
uav_pl_tins/Videos/iris_camera/frame0123.jpg
uav_pl_tins/Videos/iris_camera/frame0124.jpg
uav_pl_tins/Videos/iris_camera/frame0125.jpg
uav_pl_tins/Videos/iris_camera/frame0126.jpg
uav_pl_tins/Videos/iris_camera/frame0127.jpg
uav_pl_tins/Videos/iris_camera/frame0128.jpg
uav_pl_tins/Videos/iris_camera/frame0129.jpg
uav_pl_tins/Videos/iris_camera/frame0130.jpg
uav_pl_tins/Videos/iris_camera/frame0131.jpg
uav_pl_tins/Videos/iris_camera/frame0132.jpg
uav_pl_tins/Videos/iris_camera/frame0133.jpg
uav_pl_tins/Videos/iris_camera/frame0134.jpg
uav_pl_tins/Videos/iris_camera/frame0135.jpg
uav_pl_tins/Videos/iris_camera/frame0136.jpg
uav_pl_tins/Videos/iris_camera/frame0137.jpg
uav_pl_tins/Videos/iris_camera/frame0138.jpg
uav_pl_tins/Videos/iris_camera/frame0139.jpg
uav_pl_tins/Videos/iris_camera/frame0140.jpg
uav_pl_tins/Videos/iris_camera/frame0141.jpg
uav_pl_tins/Videos/iris_camera/frame0142.jpg
uav_pl_tins/Videos/iris_camera/frame0143.jpg
uav_pl_tins/Videos/iris_camera/frame0144.jpg
uav_pl_tins/Videos/iris_camera/frame0145.jpg
uav_pl_tins/Videos/iris_camera/frame0146.jpg
uav_pl_tins/Videos/iris_camera/frame0147.jpg
uav_pl_tins/Videos/iris_camera/frame0148.jpg
uav_pl_tins/Videos/iris_camera/frame0149.jpg
uav_pl_tins/Videos/iris_camera/frame0150.jpg
uav_pl_tins/Videos/iris_camera/frame0151.jpg
uav_pl_tins/Videos/iris_camera/frame0152.jpg
uav_pl_tins/Videos/iris_camera/frame0153.jpg
uav_pl_tins/Videos/iris_camera/frame0154.jpg
uav_pl_tins/Videos/iris_camera/frame0155.jpg
uav_pl_tins/Videos/iris_camera/frame0156.jpg
uav_pl_tins/Videos/iris_camera/frame0157.jpg
uav_pl_tins/Videos/iris_camera/frame0158.jpg
uav_pl_tins/Videos/iris_camera/frame0159.jpg
uav_pl_tins/Videos/iris_camera/frame0160.jpg
uav_pl_tins/Videos/iris_camera/frame0161.jpg
uav_pl_tins/Videos/iris_camera/frame0162.jpg
uav_pl_tins/Videos/iris_camera/frame0163.jpg
uav_pl_tins/Videos/iris_camera/frame0164.jpg
uav_pl_tins/Videos/iris_camera/frame0165.jpg
uav_pl_tins/Videos/iris_camera/frame0166.jpg
uav_pl_tins/Videos/iris_camera/frame0167.jpg
uav_pl_tins/Videos/iris_camera/frame0168.jpg
uav_pl_tins/Videos/iris_camera/frame0169.jpg
uav_pl_tins/Videos/iris_camera/frame0170.jpg
uav_pl_tins/Videos/iris_camera/frame0171.jpg
uav_pl_tins/Videos/iris_camera/frame0172.jpg
uav_pl_tins/Videos/iris_camera/frame0173.jpg
uav_pl_tins/Videos/iris_camera/frame0174.jpg
uav_pl_tins/Videos/iris_camera/frame0175.jpg
uav_pl_tins/Videos/iris_camera/frame0176.jpg
uav_pl_tins/Videos/iris_camera/frame0177.jpg
uav_pl_tins/Videos/iris_camera/frame0178.jpg
uav_pl_tins/Videos/iris_camera/frame0179.jpg
uav_pl_tins/Videos/iris_camera/frame0180.jpg
uav_pl_tins/Videos/iris_camera/frame0181.jpg
